<!DOCTYPE html>
<html>
<head>
	<!-- ===== Basic Setting ===== -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Adminstrator AdminUser Edit</title>
	<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/css.css" />
	<script type="text/javascript">
		function jump_upd(id, state) {
			document.userEdit.admin_user_id.value = id;
			document.userEdit.state.value = state;
			document.userEdit.submit();
		}

		function jump_list(list_id) {
			var action_url = '';

			switch(list_id) {
				case '0':
					action_url = "/mastar/menu";
					break;
				case '1':
					action_url = "/mastar/numberingList";
					break;
				case '2':
					action_url = "/mastar/userList";
					break;
				case '3':
					action_url = "/mastar/groupFolderList";
					break;
				case '4':
					action_url = "/mastar/authorityList";
					break;
				case '5':
					action_url = "/mastar/adminUserList";
					break;
			}

			document.userEdit.state.value = "SHOW";
			document.userEdit.action=action_url;
			document.userEdit.submit();
		}
	</script>
	<!-- ===== Basic Setting ===== -->
</head>
<body>
	<!-- ===== Page ===== -->
	<div id="page">
		<!-- ===== Head ===== -->
		<header id="pageHead">
			<h1 id="siteTitle">Adminstrator AdminUser Edit</h1>
			<nav class="globalNavi">
				<ul>
					<li><a onclick="jump_list('0');">Menu</a></li>
					<li><a onclick="jump_list('5');">Administrator User List</a></li>
					<li><a onclick="jump_list('1');">Numbering List</a></li>
					<li><a onclick="jump_list('2');">User List</a></li>
					<li><a onclick="jump_list('3');">Group Folder List</a></li>
					<li><a onclick="jump_list('4');">Authority List</a></li>
				</ul>
			</nav>
		</header>
		<!-- ===== Head ===== -->

		<!-- ===== Content ===== -->
		<div id="pageBody">
			<form method="POST" name="userEdit">
				{{ form.hidden_tag() }}
				{% if form.user_id.data == '0' %}
					<button type="button" class="editButton" onclick="jump_upd('0', 'NEW');">Create</button>
				{% else %}
					<button type="button" class="editButton" onclick="jump_upd('{{form.user_id.data}}', 'UPD');">Update</button>
					<button type="button" class="editButton" onclick="jump_upd('{{form.user_id.data}}', 'DEL');">Delete</button>
				{% endif %}
					<button type="button" class="editButton" onclick="jump_list('2');">Back</button>

				<table class="editList">
					<tbody>
						<tr><td>AdminUser ID</td><td>{{data[0]}}</td></tr>
						<tr><td>AdminUser Name</td><td><input type="text" name="user_name" value="{{data[1]}}"></td></tr>
						<tr><td>eMail Address</td><td><input type="text" name="user_mail_address" value="{{data[2]}}"></td></tr>
						<tr><td>Password</td><td><input type="password" name="user_password" value="{{data[3]}}"></td></tr>
						<tr><td>Create Time</td><td>{{data[4]}}</td></tr>
						<tr><td>Update Time</td><td>{{data[5]}}</td></tr>
					</tbody>
				</table>
			</form>
		</div>
		<!-- ===== Content ===== -->

		<p class="pagetop"><a href="#page">Back Page Top</a></p>
		<!-- ===== Footer ===== -->
		<footer id="pageFoot">
			<p id="copyright"><small>&copy; 2019 FlaxBear All Rights Reserved,</small></p>
		</footer>
		<!-- ===== Footer ===== -->
	</div>
	<!-- ===== Page ===== -->
</body>
</html>