<!DOCTYPE html>
<html>
<head>
	<!-- ===== Basic Setting ===== -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Authority Edit</title>
	<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/css.css" />
	<script type="text/javascript">
		function jump_upd(state) {
			if(state == 'NEW') {
				obj1 = document.getElementById("select_user_id");
				obj2 = document.getElementById("select_group_folder_id");

				document.authorityEdit.user_id.value = obj1.value;
				document.authorityEdit.group_folder_id.value = obj2.value;
			}

			var authority_state = 0;
			for(var i = 0, length = document.authorityEdit.check_authority_state.length; i < length; i++) {
				if(document.authorityEdit.check_authority_state[i].checked == true) {
					authority_state += 2 ** (4 - i);
				}
			}
			document.authorityEdit.authority_state.value = authority_state

			document.authorityEdit.state.value = state;
			document.authorityEdit.submit();
		}

		function jump_list(list_id) {
			var action_url = '';

			switch(list_id) {
				case '0':
					action_url = "/mastar/menu";
					break;
				case '1':
					action_url = "/mastar/numberingList";
					break;
				case '2':
					action_url = "/mastar/userList";
					break;
				case '3':
					action_url = "/mastar/groupFolderList";
					break;
				case '4':
					action_url = "/mastar/authorityList";
					break;
				case '5':
					action_url = "/mastar/adminUserList";
					break;
			}

			document.authorityEdit.state.value = "SHOW";
			document.authorityEdit.action=action_url;
			document.authorityEdit.submit();
		}
	</script>
	<!-- ===== Basic Setting ===== -->
</head>
<body>
	<!-- ===== Page ===== -->
	<div id="page">
		<!-- ===== Head ===== -->
		<header id="pageHead">
			<h1 id="siteTitle">Authority Edit</h1>
			<nav class="globalNavi">
				<ul>
					<li><a onclick="jump_list('0');">Menu</a></li>
					<li><a onclick="jump_list('5');">Administrator User List</a></li>
					<li><a onclick="jump_list('1');">Numbering List</a></li>
					<li><a onclick="jump_list('2');">User List</a></li>
					<li><a onclick="jump_list('3');">Group Folder List</a></li>
					<li><a onclick="jump_list('4');">Authority List</a></li>
				</ul>
			</nav>
		</header>
		<!-- ===== Head ===== -->

		<!-- ===== Content ===== -->
		<div id="pageBody">
			<form method="POST" name="authorityEdit">
				{{ form.hidden_tag() }}
				<input type="hidden" name="authority_state" value="0">
				{% if form.user_id.data == '0' or form.group_folder_id.data == '0' %}
					<button type="button" class="editButton" onclick="jump_upd('NEW');">Create</button>
				{% else %}
					<button type="button" class="editButton" onclick="jump_upd('UPD');">Update</button>
					<button type="button" class="editButton" onclick="jump_upd('DEL');">Delete</button>
				{% endif %}
					<button type="button" class="editButton" onclick="jump_list('4');">Back</button>
				<table class="editList">
					<tbody>
						<tr>
							<td>ID:User Name</td>
							<td>
								{% if form.user_id.data == '0' or form.group_folder_id.data == '0' %}
									<select id='select_user_id'>
										{% for value in user_list %}
											{% if value[0] == data[0] %}
												<option value="{{value[0]}}" selected>{{value[0]}}:{{value[1]}}</option>
											{% else %}
												<option value="{{value[0]}}">{{value[0]}}:{{value[1]}}</option>
											{% endif %}
										{% endfor %}
									</select>
								{% else %}
									{% for value in user_list %}
										{% if value[0] == data[0] %}
											{{value[0]}}:{{value[1]}}
										{% endif %}
									{% endfor %}
								{% endif %}

							</td>
						</tr>
						<tr>
							<td>ID:Group Folder Name</td>
							<td>
								{% if form.user_id.data == '0' or form.group_folder_id.data == '0' %}
									<select id='select_group_folder_id'>
										{% for value in groupFolder_list %}
											{% if value[0] == data[2] %}
												<option value="{{value[0]}}" selected>{{value[0]}}:{{value[1]}}</option>
											{% else %}
												<option value="{{value[0]}}">{{value[0]}}:{{value[1]}}</option>
											{% endif %}
										{% endfor %}
									</select>
								{% else %}
									{% for value in groupFolder_list %}
										{% if value[0] == data[0] %}
											{{value[0]}}:{{value[1]}}
										{% endif %}
									{% endfor %}
								{% endif %}
							</td>
						</tr>
						<tr>
							<td>Authority State</td>
							<td>
								<table class="stateList">
									<tbody>
										{% if state_bit[4] == True %}
											<tr><td>Mastar</td><td><input type="checkbox" name="check_authority_state" onClick="" checked></td></tr>
										{% else %}
											<tr><td>Mastar</td><td><input type="checkbox" name="check_authority_state" onClick=""></td></tr>
										{% endif %}

										{% if state_bit[3] == True %}
											<tr><td>Add and Del User</td><td><input type="checkbox" name="check_authority_state" onClick="" checked></td></tr>
										{% else %}
											<tr><td>Add and Del User</td><td><input type="checkbox" name="check_authority_state" onClick=""></td></tr>
										{% endif %}

										{% if state_bit[2] == True %}
											<tr><td>Del WebBookMark</td><td><input type="checkbox" name="check_authority_state" onClick="" checked></td></tr>
										{% else %}
											<tr><td>Del WebBookMark</td><td><input type="checkbox" name="check_authority_state" onClick=""></td></tr>
										{% endif %}

										{% if state_bit[1] == True %}
											<tr><td>Update WebBookMark</td><td><input type="checkbox" name="check_authority_state" onClick="" checked></td></tr>
										{% else %}
											<tr><td>Update WebBookMark</td><td><input type="checkbox" name="check_authority_state" onClick=""></td></tr>
										{% endif %}

										{% if state_bit[0] == True %}
											<tr><td>Add WebBookMark/td><td><input type="checkbox" name="check_authority_state" onClick="" checked></td></tr>
										{% else %}
											<tr><td>Add WebBookMark</td><td><input type="checkbox" name="check_authority_state" onClick=""></td></tr>
										{% endif %}

									</tbody>
								</table>
							</td>
						</tr>
						<tr><td>Create Time</td><td>{{data[3]}}</td></tr>
						<tr><td>Update Time</td><td>{{data[4]}}</td></tr>
					</tbody>
				</table>
			</form>
		</div>
		<!-- ===== Content ===== -->

		<p class="pagetop"><a href="#page">Back Page Top</a></p>
		<!-- ===== Footer ===== -->
		<footer id="pageFoot">
			<p id="copyright"><small>&copy; 2019 FlaxBear All Rights Reserved,</small></p>
		</footer>
		<!-- ===== Footer ===== -->
	</div>
	<!-- ===== Page ===== -->
</body>
</html>