<!DOCTYPE html>
<html>
<head>
	<!-- ===== 基本設定 ===== -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>管理者用採番編集</title>
	<script type="text/javascript">
		function jump_upd(id, state) {
			document.numberingEdit.numbering_id.value = id;
			document.numberingEdit.state.value = state;
			document.numberingEdit.submit();
		}

		function jump_list(list_id) {
			var action_url = '';

			switch(list_id) {
				case '0':
					action_url = "/mastar/menu";
					break;
				case '1':
					action_url = "/mastar/numberingList";
					break;
				case '2':
					action_url = "/mastar/userList";
					break;
				case '3':
					action_url = "/mastar/groupFolderList";
					break;
				case '4':
					action_url = "/mastar/authorityList";
					break;
			}

			document.numberingEdit.state.value = "SHOW";
			document.numberingEdit.action=action_url;
			document.numberingEdit.submit();
		}
	</script>
	<!-- ===== 基本情報 ===== --> 
</head>
<body>
	<!-- ===== ページ全体 ===== -->
	<div id="page">
		<!-- ===== ヘッダー情報 ===== -->
		<header id="pageHead">
			<h1 id="siteTitle">管理者用採番編集</h1>
			<nav class="globalNavi">
				<ul>
					<li><a onclick="jump_list('0');">メニュー</a></li>
					<li><a onclick="jump_list('1');">採番一覧</a></a></li>
					<li><a onclick="jump_list('2');">ユーザ一覧</a>></a></li>
					<li><a onclick="jump_list('3');">グループフォルダー一覧</a></li>
					<li><a onclick="jump_list('4');">権限一覧</a></li>
				</ul>
			</nav>
		</header>
		<!-- ===== ヘッダー情報 ===== -->

		<!-- ===== コンテンツ ===== -->
		<div id="pageBody">
			<form method="POST" name="numberingEdit">
				{{ form.hidden_tag() }}
				{% if form.numbering_id.data == '0' %}
					<button type="button" name="createNumbering" onclick="jump_upd('0', 'NEW');">作成</button>
				{% else %}
					<button type="button" name="createNumbering" onclick="jump_upd('{{form.numbering_id.data}}', 'UPD');">更新</button>
					<button type="button" name="delateNumbering" onclick="jump_upd('{{form.numbering_id.data}}', 'DEL');">削除</button>
				{% endif %}
					<button type="button" name="backNumbering" onclick="jump_list('1');">戻る</button>
	
				<table>
					<tbody>
						<tr><td>採番ID</td><td>{{data[0]}}</td></tr>
						<tr><td>カラム名</td><td><input type="text" name="numbering_name" value="{{data[1]}}"></td></tr>
						<tr><td>次回値</td><td><input type="text" name="next_value" value="{{data[2]}}"></td></tr>
						<tr><td>作成日時</td><td>{{data[3]}}</td></tr>
						<tr><td>更新日時</td><td>{{data[4]}}</td></tr>
					</tbody>
				</table>
			</form>
		</div>
		<!-- ===== コンテンツ ===== -->
		
		<p class="pagetop"><a href="#page">ページの先頭へ戻る</a></p>
		<!-- ===== フッダー情報 ===== -->
		<footer id="pageFoot">
			<p id="copyright"><small>&copy; 2019 FlaxBear All Rights Reserved,</small></p>
		</footer>
		<!-- ===== フッダー情報 ===== -->
	</div>
</body>
</html>