<!DOCTYPE html>
<html>
<head>
	<!-- ===== Basic Setting ===== -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Administrator Menu</title>
	<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/css.css" />
	<script type="text/javascript">
		function jump_list(list_id) {
			var action_url = '';

			switch(list_id) {
				case '1':
					action_url = "/mastar/numberingList";
					break;
				case '2':
					action_url = "/mastar/userList";
					break;
				case '3':
					action_url = "/mastar/groupFolderList";
					break;
				case '4':
					action_url = "/mastar/authorityList";
					break;
				case '5':
					action_url = "/mastar/adminUserList";
					break;
				case '6':
					action_url = "/mastar/logout";
					break;
			}

			document.mastarList.state.value = "SHOW";
			document.mastarList.action=action_url;
			document.mastarList.submit();
		}
	</script>
	<!-- ===== Basic Setting ===== -->
</head>
<body>
	<!-- ===== Page ===== -->
	<div id="page">
		<!-- ===== Head ===== -->
		<header id="pageHead">
			<h1 id="siteTitle">Administrator Menu</h1>
		</header>
		<!-- ===== Head ===== -->

		<!-- ===== Content ===== -->
		<div id="pageBody">
			<form method="POST" name="mastarList">
				{{ form.csrf_token() }}
				<input type="hidden" name="state" value="">
				<table class="menuTable">
					<tr>
						<td><button onclick="jump_list('5');" class="menuButton"><div id="buttonName">Administrator User List</div></button></td>
						<td><button onclick="jump_list('1');" class="menuButton"><div id="buttonName">Numbering List</div></button></td>
						<td><button onclick="jump_list('2');" class="menuButton"><div id="buttonName">User List</div></button></td>
					</tr>
					<tr>
						<td><button onclick="jump_list('3');" class="menuButton"><div id="buttonName">Group Folder List</div></button></td>
						<td><button onclick="jump_list('4');" class="menuButton"><div id="buttonName">Authority List</div></button></td>
						<td><button onclick="jump_list('6');" class="menuButton"><div id="buttonName">Logout</div></button></td>
					</tr>
				</table>
			</form>
		</div>
		<!-- ===== Content ===== -->

		<!-- ===== Footer ===== -->
		<footer id="pageFoot">
			<p id="copyright"><small>&copy; 2019 FlaxBear All Rights Reserved,</small></p>
		</footer>
		<!-- ===== Footer ===== -->
	</div>
	<!-- ===== Page ===== -->
</body>
</html>