<!DOCTYPE html>
<html>
<head>
	<!-- ===== Basic Setting ===== -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Menu</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bookmarkgroup.css"/>
	<!-- ===== Basic Setting ===== -->
</head>
<body>
	<!-- ===== Page ===== -->
	<div id="page">
		<!-- ===== Head ===== -->
		<header id="pageHead">
			<h1 id="siteTitle">BookMark Group Menu</h1>
		</header>
		<!-- ===== Head ===== -->

		<!-- ===== Content ===== -->
		<div id="pageBody">
			<form name="menuForm">
				<div id="message"></div>
				<table class="menuTable">
					<tr>
						<td colspan="2"><button type="button" class="button2" onclick="">User</button>
					</tr>

					<tr>
						<td colspan="2"><button type="button" class="button2" onclick="">All Sync</button>
					</tr>

					<tr>
						<td><input type="text" name="group_folder_name"></td>
						<td><button type="button" class="button" onclick="button_proccessing('3');" class="createFolder">Create</button></td>
					</tr>

					<tr>
						<td>
							<select>
								<option value="folder_id">テスト1</option>
							</select>
						</td>
						<td><button type="button" class="button" onclick="">Sync</button>
					</tr>

					<tr>
						<td>
							<select>
								<option value="folder_id">テスト1</option>
							</select>
						</td>
						<td><button type="button" class="button" onclick="">Commit</button>
					</tr>

					<tr>
						<td>
							<select>
								<option value="folder_id">テスト1</option>
							</select>
						</td>
						<td><button type="button" class="button" onclick="">Setting</button>
					</tr>

				</table>
			</form>
		</div>
	</div>
	<!-- ===== Content ===== -->
</body>
</html>

